{% extends 'portfolio/home.html' %}
{% load static %}
{% block content %}
<section id="about-page">
    <div class="about-container">
        <div class="about-half">
            <div class="about-img">
                <img src="{% static 'image/spiderman.jpg' %}" alt="User_Profile">
            </div>
        </div>
        <div>
            <div class="about-head">
                <h2>About</h2>
            </div>

            <div class="about-content">

                <p>I’m <strong>Abishake</strong>, a passionate dynamic web developer and designer. I thrive on coding,
                    constantly seeking new opportunities to learn and grow in the ever-evolving tech space. I love
                    crafting seamless, responsive websites, combining functionality with creativity. My mantra? Eat,
                    sleep, code, repeat! Coding isn't just a profession for me it's a hobby and an essential part of who
                    I am. Whether it's front-end design or back-end development, I’m always ready for the next challenge
                    in building innovative digital solutions.</p>
                    <br>
                    <div>
                    <li>
                        <a href=""><i class="fa-brands fa-github"></i></a>
                        <a href=""></a>
                        <a href=""></a>
                        <a href=""></a>
                        <a href=""></a>
                    </li>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}