{% extends 'portfolio/home.html' %}
{% load static %}
{% block content %}
<section id="about-page">
    <div class="about-container">
        <div class="about-top">
        <div class="about-img">
            <img src="{% static 'image/spiderman.jpg' %}" alt="User_Profile">
        </div>
    </div>
        <div class="about-head">
            <h2>About</h2> 
        </div>
    
        <div>
            <h2>Hi,I'm <strong>Abishake</strong></h2>
        </div>
    </div>
</section>
{% endblock content %}