{% extends 'portfolio/home.html' %}
{% load static %}
{% block content %}
<section id="about-page">
    <div class="about-start">
    <div class="about-container">
        <div class="about-half">
            <div class="about-img">
                <img src="{% static 'image/spiderman.jpg' %}" alt="User_Profile">
            </div>
        </div>
        <div>
            <div class="about-head">
                <h2>About</h2>
            </div>

            <div class="about-content">
                <h1>Hello I am <strong>Abishake</strong>,</h1>
                    <h1>but you can call me Abi :)</h1>
                    
                    <p>I'm currently pursuing a B.E. in Computer Science Engineering at Jaya Engineering College. I have a passion for building dynamic websites and specialize in web development. My technical skills include Python, HTML, CSS, JavaScript, and Django, and I also have design experience, being familiar with Figma. Along with my studies, I work as a freelance web developer, delivering creative and functional solutions to clients. Coding is not just my profession, but my hobby as well, and I am always eager to learn and improve.</p></p>
                    <br>
                    <div>
                    <ul>
                         
                        <a href="https://github.com/Abishake01"><i class="fa-brands fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/abishake-t-835428257/"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/abi_shake45?igsh=MXJreHptem51MXppZw=="><i class="fa-brands fa-square-instagram"></i></a>
                        <a href="https://www.facebook.com/abishake.abishake.7758?mibextid=ZbWKwL"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://x.com/abishake381?s=09"><i class="fa-brands fa-square-x-twitter"></i></a>
                         
                    </ul><br>
                    
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="about-second">
        <h2>
            Projects
        </h2>
    </div>
    
</section>
{% endblock content %}