{% extends 'portfolio/index.html' %}
{% load static %}
{% block content %}

<section id="hero">
  <div class="hero-head">
    <div class="hero-des">
      <h2>Hi There!🖐️, <br>I'm <b style=" color: cyan;">Abishake</b> <br><span class="auto-type">Developer</span></h2>

    </div>
    <div class="hero-img">
      <dotlottie-player src="https://lottie.host/b223c62c-7cac-4364-952e-2444bb2c4f0a/oFx1i3djKh.lottie"
        background="transparent" speed="1" style="width: 500px; height: 500px; margin-bottom: 50px; " loop autoplay></dotlottie-player>
    </div>
  </div>
</section>


<section id="contact-me ">
  <h2 class="contact-head">Contact me through the platforms listed below</h2>
  <div class="container ">
    {% for connect in contacts %}
    <div class="sections ">
      <div class="image-content">
        {% if connect.icon %}
        <img src="{{ connect.icon.url }}" alt="{{ connect }} logo" class="platform-icon drop-shadow">
        {% endif %}
      </div>
      <div class="text-content">
        <strong>
          <a href="{{ connect.link }}">
            <h2>{{ connect }}</h2>
          </a>
        </strong>
        <p>{{ connect.description }}</p><br>
        <a href="{{ connect.link }}" class="check-btn">Check it out now!</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>



<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
<script>
  var typed = new Typed(".auto-type", {
    strings: ['Freelancer', 'Programmer', 'Designer', 'Web Developer'],
    typeSpeed: 250,
    bsckSpeed: 250,
    looped: true

  })
</script>


{% endblock content %}



</body>

</html>